*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}
html,body{
    height: 100%;
    width: 100%;
    
}
@font-face {
    font-family: f3;
    src: url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single+Ink:wght@100..900&display=swap');
}
body{
     background-image: url(https://plus.unsplash.com/premium_photo-1677993186547-86e4c4292c3a?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDh8fHxlbnwwfHx8fHw%3D);
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
}
.main h1{
    color: aliceblue;
    font-size: 80px;
    text-align: center;
    font-family: 'f3', sans-serif;;
}
.main button{
    margin-left: 720px;
    margin-top: 70px;
    padding: 12px 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    border-radius: 5px;
}